numpy
tensorflow==2.13.0
scikit-learn==1.2.2
matplotlib
PyRiemann
logging
visualkeras

braindecode==0.8.1
mne==1.6.0
moabb==1.0.0
PyYAML==6.0.1
skorch==0.15.0
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchinfo==1.8.0
torchvision==0.14.0+cu117